nav{
    text-align: center;
    width: 100%;
    height: 50px;
    z-index: 5;
}
#navbar{
    list-style: none;
    display: inline-block;
    text-align: left;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
}
.m-item{
    float: left;
    padding: 4vh;
    border-left: 2px solid black;
    background-color: white;
    display:block;
    font-family: tahoma;
    font-size: 1.3rem;
    transition: background-color 0.6s;
}
#no-border{
    border-left: none;
}
.m-item:hover{
    background-color: black;
    color: white;
    transition: color 0.6s;
    transition: background-color 0.6s;
}
a:visited{
    color:black;
}
a:link{
    color:black;
}
#gr {
    background-image:url("/./images/buttons/greek.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    display: block;
    left:97.5%;
    margin-top:9.4vw;
    height:2.5vw;
    aspect-ratio: 1;
    z-index: 4;
    opacity:0.5;
}
#en {
    background-image:url("/./images/buttons/british.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    display: block;
    left:97.5%;
    margin-top: 6.5vw;
    height:2.5vw;
    aspect-ratio: 1;
    z-index: 4;
    opacity:0.5;
}
#gr:hover {
    opacity:1;
}
#en:hover {
    opacity:1;
}
#darkmode:hover {
    opacity:1;
}
#darkmode {
    background-image:url("/./images/buttons/darkmode.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    display: block;
    left:97.5%;
    margin-top: 3.0vw;
    height:2.5vw;
    aspect-ratio: 1;
    z-index: 4;
    opacity:0.5;
}