body {
    max-width: 100%;
    overflow-x: hidden;
  }
.galeria{
    width: 25vw;
    aspect-ratio: 1;
    position: absolute;
    float: left;
    margin: 0;
    background-color: black;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: galeria;
}

@keyframes galeria{
    0%{
        transform: translate(0,0);
        animation-timing-function: ease-in;
        width: 25vw;
    }
    4%{
        transform: translate(35vw,0);
        animation-timing-function: ease-in;
        width: 30vw;
    }
    20%{
        transform: translate(35vw,0);
        animation-timing-function: ease-in;
        width: 30vw;
    }
    24%{
        transform: translate(65vw,0);
        width: 25vw;
        animation-timing-function: ease-in;
    }
    40%{
        transform: translate(65vw,0);
        animation-timing-function: ease-in;
    }
    44%{
        transform: translate(100vw,0);
        animation-timing-function: ease-in;
    }
    60%{
        transform: translate(100vw,0);
        animation-timing-function: ease-in;
    }
    64%{
        transform: translate(-125vw,0);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    80%{
        transform: translate(-125vw,0);
        opacity: 0;
    }
    80%{
        animation-timing-function: ease-in;
    }
    84%{
        transform: translate(0,0);
        animation-timing-function: ease-in;
    }
    100%{
        transform: translate(0,0);
    }
}
.spacer{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.text{
    font-size: 14pt;
    padding: 1vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    text-justify:auto;
    width: 16vw;
}
