nav{
    text-align: center;
    width: 100%;
    height: 50px;
    z-index: 5;
}
#navbar{
    list-style: none;
    display: inline-block;
    text-align: left;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding-bottom: 3vh;
}
.m-item{
    float: left;
    padding: 4vh;
    border-left: 2px solid black;
    background-color: white;
    display:block;
    font-family: tahoma;
    font-size: 1.3rem;
    transition: background-color 0.6s;
}
#no-border{
    border-left: none;
}
.m-item:hover{
    background-color: black;
    color: white;
    transition: color 0.6s;
    transition: background-color 0.6s;
}
a:visited{
    color:black;
}
a:link{
    color:black;
}
#gr {
    background-image:url("/./images/buttons/greek.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    display: block;
    left:97.5%;
    margin-top:9.4vw;
    height:2.5vw;
    aspect-ratio: 1;
    z-index: 4;
    opacity:0.5;
}
#en {
    background-image:url("/./images/buttons/british.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    display: block;
    left:97.5%;
    margin-top: 6.5vw;
    height:2.5vw;
    aspect-ratio: 1;
    z-index: 4;
    opacity:0.5;
}
#gr:hover {
    opacity:1;
}
#en:hover {
    opacity:1;
}
#darkmode:hover {
    opacity:1;
}
#darkmode {
    background-image:url("/./images/buttons/darkmode.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    display: block;
    left:97.5%;
    margin-top: 3.0vw;
    height:2.5vw;
    aspect-ratio: 1;
    z-index: 4;
    opacity:0.5;
}
body {
    max-width: 100%;
    overflow-x: hidden;
  }
.galeria{
    width: 25vw;
    aspect-ratio: 1;
    position: absolute;
    float: left;
    margin: 0;
    background-color: black;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: galeria;
}

@keyframes galeria{
    0%{
        transform: translate(0,0);
        animation-timing-function: ease-in;
        width: 25vw;
    }
    4%{
        transform: translate(35vw,0);
        animation-timing-function: ease-in;
        width: 30vw;
    }
    20%{
        transform: translate(35vw,0);
        animation-timing-function: ease-in;
        width: 30vw;
    }
    24%{
        transform: translate(65vw,0);
        width: 25vw;
        animation-timing-function: ease-in;
    }
    40%{
        transform: translate(65vw,0);
        animation-timing-function: ease-in;
    }
    44%{
        transform: translate(100vw,0);
        animation-timing-function: ease-in;
    }
    60%{
        transform: translate(100vw,0);
        animation-timing-function: ease-in;
    }
    64%{
        transform: translate(-125vw,0);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    80%{
        transform: translate(-125vw,0);
        opacity: 0;
    }
    80%{
        animation-timing-function: ease-in;
    }
    84%{
        transform: translate(0,0);
        animation-timing-function: ease-in;
    }
    100%{
        transform: translate(0,0);
    }
}
.spacer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.text{
    font-size: 14pt;
    padding: 1vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    text-justify:auto;
    width: 16vw;
}
section{
    position: relative;
    width: 100%;
    height: 65vh;
    top: 10vh;
    display: flex;
    align-items: center;
}
